@use '../1-base/variables'

body
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    height: 100vh
    overflow: hidden
    background: variables.$bg-color
    


main
    
    min-width: 400px
    z-index: 1000
   

    
    .login, .sign-in
        padding: 50px
        background: #fff
        width: 100%
        position: relative
        display: flex
        flex-direction: column
        
        gap: 1.25rem
        align-items: flex-start

        opacity: 1
        
    
  
        h1
            font-size: 24px
            font-weight: bold
            border-left: 15px solid #1dd1a1 
            line-height: 1em
            padding-left: 10px
            transition:0.5s
            color: #333
        .inputBox
            position: relative
            width:100%

            input
                position: relative
                width:100%
                padding: 10px
                border: 2px solid #555
                font-size: 1rem
                color: #333

            .fa-eye
                cursor: pointer
                position: absolute
                right: 10px
                top: 10px
                font-size: 20px
                font-weight: normal
                color: black
                &:hover
                    color: #1dd1a1
                    font-weight: bold

            input.btn
                border: none
                background: #1dd1a1
                color: #fff
                transition:0.5s
                font-size: 1.1em
                font-weight:500
                cursor: pointer

        .group
            display: flex
            width: 100%
            justify-content: space-between

            a
                color: #333
                text-decoration: none

            a:nth-child(2)
                font-weight: 500
                text-decoration: underline
    .sign-in .group 
        display: flex
        width: 100%
        justify-content: center

        &:hover
            text-decoration: underline
            


    .login.hidden
        display: none
        visibility: hidden
        opacity: 0
        
    .sign-in.hidden
        display: none
        visibility: hidden
        opacity: 0

 

    

