.bubbles {
  position: relative;
  display: flex;
}
.bubbles span {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: #bdebca;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px rgba(79, 220, 126, 0.2666666667), 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
  animation: animate 15s linear infinite;
  animation-duration: calc(120s / var(--i));
}
.bubbles span:nth-child(even) {
  background: #1dd1a1;
  box-shadow: 0 0 0 10px rgba(45, 255, 202, 0.2666666667), 0 0 50px #2dff49, 0 0 100px #2dff2d;
}

@keyframes animate {
  from {
    transform: translateY(100vh) scale(0);
  }
  to {
    transform: translateY(-90vh) scale(1.2);
  }
}
html {
  font-size: 14px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
  font-size: 1rem;
}

i {
  color: #1dd1a1;
}

input {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background: #15161d;
}

main {
  min-width: 400px;
  z-index: 1000;
}
main .login {
  padding: 25px;
  background: #fff;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: flex-start;
  opacity: 1;
}
main .login h1 {
  font-size: 24px;
  font-weight: bold;
  border-left: 15px solid #1dd1a1;
  line-height: 1em;
  padding-left: 10px;
  transition: 0.5s;
  color: #333;
}
main .login .inputBox {
  position: relative;
  width: 100%;
}
main .login .inputBox input {
  position: relative;
  width: 100%;
  padding: 10px 5px;
  border: 2px solid #555;
  font-size: 1rem;
  color: #333;
}
main .login .inputBox .fa-eye {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  font-weight: normal;
  color: black;
}
main .login .inputBox .fa-eye:hover {
  color: #1dd1a1;
  font-weight: bold;
}
main .login .inputBox .fa-eye.active {
  color: #1dd1a1;
  font-weight: bold;
}
main .login .inputBox input.btn {
  border: none;
  background: #1dd1a1;
  color: #fff;
  transition: 0.5s;
  font-size: 1.1em;
  font-weight: 500;
  cursor: pointer;
}
main .login .group {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
main .login .group a {
  color: #333;
  text-decoration: none;
}
main .login .group a:nth-child(2) {
  font-weight: 500;
  text-decoration: underline;
}
main .login.hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.sign-in {
  padding: 25px;
  background: #fff;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: flex-start;
  opacity: 1;
}
.sign-in.hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
}
.sign-in h1 {
  font-size: 24px;
  font-weight: bold;
  border-left: 15px solid #1dd1a1;
  line-height: 1em;
  padding-left: 10px;
  transition: 0.5s;
  color: #333;
}
.sign-in #msgError {
  text-align: center;
  color: #1dd1a1;
  background: #bbffbe;
  padding: 10px;
  border-radius: 4px;
  display: none;
}
.sign-in #msgSuccess {
  text-align: center;
  color: #e32636;
  background: #ffbbbb;
  padding: 10px;
  border-radius: 4px;
  display: none;
}
.sign-in .inputBox {
  position: relative;
  width: 100%;
}
.sign-in .inputBox input {
  position: relative;
  width: 100%;
  padding: 10px 5px;
  border: 2px solid #555;
  font-size: 1rem;
  color: #333;
}
.sign-in .inputBox .fa-eye {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  font-weight: normal;
  color: black;
}
.sign-in .inputBox .fa-eye:hover {
  color: #1dd1a1;
  font-weight: bold;
}
.sign-in .inputBox .fa-eye.active {
  color: #1dd1a1;
  font-weight: bold;
}
.sign-in .inputBox input.btn {
  border: none;
  background: #1dd1a1;
  color: #fff;
  transition: 0.5s;
  font-size: 1.1em;
  font-weight: 500;
  cursor: pointer;
}
.sign-in .group {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.sign-in .group a {
  color: #333;
  text-decoration: none;
}
.sign-in .group a:nth-child(2) {
  font-weight: 500;
  text-decoration: underline;
}

.sign-in .group {
  display: flex;
  width: 100%;
  justify-content: center;
}
.sign-in .group:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
